/*

Template 2096 Individual

http://www.tooplate.com/view/2096-individual

*/

@font-face{
    font-family: surgefont;
    src: url(../font-awesome-4.5.0/fonts/TTF/ATCArquette-Bold.ttf) format('truetype');
}

@font-face{
    font-family: surgefontlighter;
    src: url(../font-awesome-4.5.0/fonts/TTF/ATCArquette-Light.ttf) format('truetype');
}


@font-face{
    font-family: surgefontmedium;
    src: url(../font-awesome-4.5.0/fonts/TTF/ATCArquette-Medium.ttf) format('truetype');
}

body {
	font-family: surgefont, surgefontlighter, surgefontmedium;
	font-size: 19px;
	font-weight: 300;
	overflow-x: hidden;
    height: 100%;
}

.carouselparallax {
    background-image: url('../img/carousel.png');
    min-height: 100vh; 

    /* Create the parallax scrolling effect */
    -webkit-background-attachment: fixed!important;
    -moz-background-attachment: fixed!important;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel2parallax {
    background-image: url('../img/carousel2.jpg');
    min-height: 100vh; 

    /* Create the parallax scrolling effect */
     -webkit-background-attachment: fixed!important;
    -moz-background-attachment: fixed!important;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel3parallax {
    background-image: url('../img/carousel3.jpg');
    min-height: 100vh; 

    /* Create the parallax scrolling effect */
     -webkit-background-attachment: fixed!important;
    -moz-background-attachment: fixed!important;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    background-image: url('../img/1234.jpg');
    min-height: 10vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url('../img/happyhour.jpg');
    min-height: 40vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

a, button {
	transition: all 0.3s ease;
	color: rgba(255,255,255, 0.8);
}

a:hover {
	color: #FFFF00;
	text-decoration: none;
}
a:focus {
	text-decoration: none;
	outline: none;
}
.parallax-window {
	min-height: 100vh;
    width: 100%;
	background: transparent;
	
}

.parallax-window2 {
	min-height: 100vh;
	background: transparent;
	display: flex;
	align-items: center;
}
.parallax-window3 {
	min-height: 40vh;
	background: transparent;
	
}

.tm-text-white { color: #fff; }



.mainpageicons{
    position: absolute;
    top: 90%;
    left: 5%;
    color: rgba(255,255,255, 0.9);
    font-size: 50px;
}

.address{
    position: absolute;
    top: 90%;
    left: 65%;
    font-weight: bold;
    color: rgba(255,255,255, 0.9);
}

.number{
    left: 70%;
}

.mainpageicons > a:hover{
    color: darkgoldenrod;
}
.fa-instagram{
    margin-left: 25px;
}
.tm-page-2{
	max-width: 800px;
}

.tm-page-4-content { 
	padding-top: 1vh;	
}

.tm-page-5-content { 
	padding-top: 1vh;	
}

.tm-bg-white {
	padding: 20px;
	background-color: white;
	opacity: 0.8;
	width: 100%;
}

.tm-bg-white2 {
		padding: 20px;
		background-color: white;
		opacity: 0.8;
		width: 100%;
		margin: 0px;
}

h1 {
	font-size: 4rem;
	padding-bottom: 20px;
}

h2 {
	padding-bottom: 20px;
	font-weight: bold;
}

h3 {
	color: green;
	padding-bottom: 10px;
}

h5 {
	padding-left: 20px;
	font-size: 2rem;
	font-weight: bold;

}

.tm-bg-white-transparent {
	margin: 5px;
	padding: 40px;
	background-color: #ffffffc4;
	max-width: 340px;
	width: 100%;
	margin: 20px;
}

.tm-bg-white-transparent-page3 {
	margin-left: 100px;
	
}

.tm-page-5-content {
	float: right;	
}

.separator{
    width: 100%;
    height: 30%;
    background-image: url(../img/1234.jpg);
    padding: 1.5em;
}
.container {
	
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.tm-btn-block {
	display: block;
}

.tm-btn-right {
	float:right;
}

.tm-address-box {
	color: white;
	padding-left: 40px;
}

.tm-bg-white-transparent-left {
	float: right;
	background-color: white;
	opacity: 0.8;

}
.tm-bg-white-transparent-center {
	display: inline-block;
	background-color: white;
	opacity: 0.8;
}
.tm-bg-white-transparent-right {
	float: left;
	background-color: white;
	opacity: 0.8;
}

.tm-img-container {
	width: 96%;
	max-width: 1020px;
}

.tm-slider-img {
	padding-left: 10px;
	padding-right: 10px;
}

.slick-dots li button:before {
	font-size: 20px;
	color: white;
	opacity: 1;
	opacity: 1;
}

.slick-dots {
	position: absolute;
	bottom: -50px;
	display: block;
	width: 100%;
	padding: 0;
	list-style: none;
	text-align: center;
}

.slick-dots li.slick-active button:before {
	opacity: .75;
	color: deepskyblue;
}

.tm-btn-submit {
	font-size: 1.5rem;
    font-weight: 300;
    padding: 10px 60px;
    border-radius: 9px;
    float: right;
}

.form-control {

	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1;
	color: #495057;
	opacity: 0.75;
	background-color: #fff;
	background-image: none;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0rem;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.tm-position-relative {
	position: relative;
}


.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: auto;
	margin-left: auto;
}

/* navigations */

.navbar-brand.mr-0{
    color: white;
    font-size: 40px;
}
.navbar-toggler.ml-1{
    border: 2px solid white;
}

.toggleicon{
    font-size:25px;
    margin-top: 4px;
    color:white 
}
.activenavigation{
    border-bottom: 4px solid darkgoldenrod;
    padding-bottom: 2px;
}

.nav-item > .nav-link{
    color: white;
}


.nav-item > .nav-link:hover{
    color: darkgoldenrod;
}

.nav-item{
    padding: 0 .5em;
}

.navbar.navbar-transparent.navbar-expand-md{
    position: fixed;
}
.navbar{
    width: 100%;
    font-family: surgefontmedium;
    font-size: 1.2em;
    z-index: 5;
    -webkit-transition: : all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition:  all .3s; 
}


.try{
    height: 60px;
    width: 100%;
    background-color: black;
    -webkit-transition: : all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition:  all .5s;      
} 

#brand:hover{
    text-decoration: none;
    background-color: transparent;
}

.surgelogo{
    position: absolute;
    width: 50%;
    height: 50%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.carousel-inner {
    background-color: black;
     backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}


.carousel-inner > .carousel-item{
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -moz-transition: -moz-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
   
}
/*
.carousel-fade .carousel-inner > .carousel-item {
    transition-property: opacity;
}
.carousel-fade .carousel-inner > .carousel-item, .carousel-item.active.carousel-control-prev {
    opacity: 0;
}
.carousel-fade .carousel-inner > .carousel-item.active, .carousel-item.next.carousel-control-prev {
    opacity: 1;
}
.carousel-fade .carousel-inner > .next, .prev, .active.carousel-control-prev, .active.carousel-control-right{
    left: 0;
}
.carousel-fade .carousel-inner > .carousel-item.next, .active.carousel-control-next, .carousel-item.prev, .active.carousel-control-prev {
      -webkit-transition: -webkit-transform .6s ease-in-out left;
    -moz-transition: -moz-transform .6s ease-in-out left;
    -o-transition: -o-transform .6s ease-in-out left;
    transition: transform .6s ease-in-out left;
}
*/



/* about, play, leagues and party */


.aboutcontainer{
    font-family: surgefont;
    letter-spacing: 3px;
}
.lowercontainer{
     height: 25em;
     width: auto;
}


.rowsections{
    float: left;
    width: 50%;
    height: 30em;
    justify-content: center;
    text-align: center;
}

.about {
    background-image: url("../img/about.jpg");
    background-size: cover;
}

.party{
    background-image: url("../img/playofficial.jpg");
    background-size: cover;
}

.menu {
    background-image: url("../img/menusofficial.jpg");
    background-size: cover;
}

.leagues {
    background-image: url("../img/bookofficial.jpg");
    background-size: cover;
}

.bottomsection{
    float: left;
    width: 100%;
    height: 15em;
    justify-content: center;
    text-align: center;
}
.happyhour{
    background-image: url("../img/party.jpg");
    background-size: cover;   
}

.happycontent{
    margin-top: -20px;
    letter-spacing: 3px;
}
.happycontent > h2{
    color: white;
    text-align:  center;
    padding-top: 1em;
    font-size: 3.5em;
    font-weight: bolder;
}
.happyrow{
    font-family: surgefontmedium;
    width: 50%;
    text-align: center;
    margin-top: 3em;
    color: white;
    font-size: 2em;
    font-weight: bolder;
    opacity: 0;
}

.center-content {
  font-family: surgefont;
  padding-top: 2em; 
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  color: white;
  line-height: 1; 
  font-size: 1.5em;
  text-shadow: 2px 1px #000000;
  font-weight: normal;
  opacity: 0;
}
   
.center-content > h1 {
    margin-top: 2em;
    color: white;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2em;
    margin-bottom: 0;
    text-align: center;
}

.center-content > h3{
    color: white;
    line-height: 1;
    margin-bottom: 40px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;   
}

.button{
  text-transform: uppercase;
  font-size: .7em;
  font-weight: bolder;
  width: 250px;
  color: white;
  padding: 15px;
  border: 5px solid rgb(184, 134, 11);
  text-decoration: none;
}
.button:hover{
    background-color: rgba(184, 134, 11, .9);
    border-color: rgb(184, 134, 11);
    color: white;
    text-decoration: none;
}

/* About Page */

.aboutparallax {
    background-image: url('../img/visionparallax.jpg');
    min-height: 50vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.whypressparallax {
    background-image: url('../img/visionparallax.jpg');
    min-height: 20vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutcontent{
    float: left;
    width: 50%;
    height: auto;
    text-align: center;
    margin: 8em 0;
    justify-content: center;
}

.hero{
    position: absolute;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero h1{
    font-size: 6em;
    font-weight: bold;
    color: white;
    letter-spacing: 5px;
}

.hero h4{
    font-family: surgefontmedium;
    font-size: 1.4em;
    font-weight: bolder;
    color: white;
    letter-spacing: 5px;
}

.aboutcontent h1{
    color: darkgoldenrod;
    font-weight: bold;
}

.aboutcontent p {
    margin: 0 3em;
    line-height: 2;
    font-weight: lighter;
    letter-spacing: 2px;
    text-align: justify;
    color: #0e1111;
    padding-top: 1.5em;
}

.historyleft img{
    margin-top: 4em;
    justify-content: left;
    width: 80%;
    height: 80%;
    border: 1px dashed darkgoldenrod;
    padding: 1em;
}

.parallaxcontent{
    opacity: 0;
}

.parallaxcontent h1{
    text-align: center;
    color: white;
    padding-top: 1.2em;
    font-weight: bolder;
    letter-spacing: 5px;
    text-shadow: 2px 1px #000;
    font-size: 2.5em;
}

.parallaxcontent p{
    text-align: center;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0 5em;
    text-shadow: 2px 1px #000;
    font-size: 1.4em;
}

.whycontent{
    float: left;
    width: 33.33%;
    height: auto;
    text-align: center;
    margin: 4em 0;
    justify-content: center;
}

.whycontent h1{
    color: darkgoldenrod;
    font-weight: bold;
}

.whycontent p {
    margin: 0 3em;
    line-height: 2;
    font-weight: lighter;
    letter-spacing: 2px;
    text-align: justify;
    color: #0e1111;
    padding-top: 5em;
}

.press{
    min-height: 50vh;
}

.presscarousel{
    margin: auto;
    top: 25%;
   
}
.presscontent{
    float: left;
    width: 33.33%;
    height: auto;
    text-align: center;
    margin: 4em 0;
    justify-content: center;
    padding: 0 5em;
}


.presscontent h2{
    color: darkgoldenrod;
    font-weight: bold;
    text-align: center;
}

.presscontent h4 {
    margin: 0 3em;
    font-weight: lighter;
    letter-spacing: 2px;
    text-align: center;
    color: #0e1111;
    padding-bottom: 2em;
}
.pressicons{
    font-size: 48px;
    color: dimgray;
}

.pressbutton{
  text-transform: uppercase;
  font-size: .9em;
  font-weight: bolder;
  width: 300px;
  color: #0e1111;
  padding: 20px;
  border: 2.5px solid rgb(184, 134, 11);
  text-decoration: none;
}
.pressbutton:hover{
    background-color: rgba(184, 134, 11, .9);
    border-color: rgb(184, 134, 11);
    color: white;
    text-decoration: none;
}



/* Instagram */

.lightwidget-widget{
   margin-top: 5em;
   margin-bottom: -.5em;
}

/* Menu Page */

.menunavigation{
    background-image: url("../img/forcontact.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 60vh;
   
}
.menu-content {
    padding-top: 4em;
    letter-spacing: 5px;
    flex-direction: column;
    align-items: center;
    margin: auto;
    line-height: 2; 
    font-size: 1.5em;
    font-weight: normal;
}

.menu-content > h1 {
    color: darkgoldenrod;
    line-height: 1;
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
}

hr{
    width: 50%;
    background-color: darkgoldenrod;
    padding: .5px;
}


.menu-content > p {
    color: #0e1111;
    line-height: 2;
    font-size: .55em;
    text-align: center;
    padding: 2em 5em 0 5em; 
    letter-spacing: .2;
}

.menubutton{
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bolder;
    letter-spacing: 5px;
    color: #0e1111;
    text-decoration: none;
    border-bottom: none;
  
}
.menubutton:hover{
    color: darkgoldenrod;
    text-decoration: none;
    border-bottom: 2px solid darkgoldenrod; 
    padding-bottom: .5em;
}

.activebuttons{
    color: darkgoldenrod !important;
    border-bottom: 2px solid darkgoldenrod;
    padding-bottom: .5em;
}
.menulist{
    padding: 2em 0 1em 0;
    text-decoration: none;
    text-align: center;
}

.menulist > li {
    text-decoration: none;
    display: inline;
    margin-right: 20px;
    justify-content: center;
}

.menuitems{
    font-family: surgefontlighter;
    font-weight: lighter;
    font-style: normal;
    letter-spacing: 5px;
    padding-bottom: 10em;
}

.menucolumn{
    float: left;
    width: 50%;
    text-align: center; 
}

.menucolumninner{
    float: left;
    width: 50%;
    text-align: center;
}


.menucolumninner  h1 {
    font-size: 1.2em;
    color: #0e1111;
    text-shadow: none;
    font-weight: bold;
    padding: 2em 0 0 7.5em;
    text-align: justify;

    
}
.menucolumninner  h2 {
    font-size: 1.2em;
    color: darkgoldenrod;
    text-shadow: none;
    text-align: center;
    font-weight: bold;
    padding-top: 2em;
}

.menudesc {
    margin: -1em 10.5em 0 10.5em;
    font-size: .9em;
    color: rgba(15, 17, 17, .8);
    text-align: justify;
    border-top: .5px dashed rgba(15, 17, 17, .1);
    padding-top: .5em;
    
}

#coffee {
    display: none;
}

#drinks {
    display: none;
}

#food {
    display: none;
}


#coffeeimg{
    display: none;
}

#drinksimg{
    display: none;
}

#foodimg{
    display: none;
}
/* contact */
#contact{
    color: white;
}

.contactbtn{
  text-transform: uppercase;
  float: right;
  font-size: .7em;
  font-weight: bold;
  cursor: pointer;
  color: white;
  padding: 20px;
  border: 4px solid rgba(184, 134, 11, .5);
  background-color: rgba(184, 134, 11, .6);
  text-decoration: none;
}
.contactbtn:hover{
    background-color: rgba(184, 134, 11, .9);
    border-color: rgba(184, 134, 11, .9);
    color: white;
    text-decoration: none;
}

/* footer */

.footer1 {
    font-family: surgefontlighter;
	background-color: black;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}
.footer {
    font-family: surgefontmedium;
	background-color: black;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    overflow: hidden;
    padding: 0 5em 0 0;
}

.footercontent{
    padding: 3em 0;
}

.columnfooter{
    float: left;
    width: 20%;
    margin-top: 1.5em;
    text-align: left;
    padding: 0 4em;
}

.column1{
    float: left;
    width: 50%;
    margin-top: .5em;
}

.one{
    padding-left: 3.8em;
}

.footericons{
    font-size: 22.5px;
    display: inline-block;
    color: white;
    padding-bottom: .2em;
}

.footericons1{
    font-size: 35px;
    display: inline-block;
    color: white;
}

.ig {
    margin-right: 25px;
}

.yelp {
    margin-right: 25px;
}

.footericons:hover{
    color: darkgoldenrod;
    text-decoration: none;
}

.footericons1:hover{
    color: darkgoldenrod;
    text-decoration: none;
}


.footertitle{
    font-size: 1.4em;
    color: darkgoldenrod;
    margin-left: -1em;
}

.email{
    text-align: right;
    padding-right: 2em;
    padding-top: .2em;
}

.email > a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;

}

.email > a:hover{
    text-decoration: none;
    color: darkgoldenrod;    
}


.storehours > h6 {
    color: rgba(255,255,255, 0.8);
    font-size: 1em;
}

.contact > h6 {
    color: rgba(255,255,255, 0.8);
    font-size:  1em;
    
}

.contact > h6 > a {
    color: rgba(255,255,255, 0.8);
}

.contact > h6 > a:hover{
    text-decoration: none;
    color: darkgoldenrod;
}

.mapiframe{
    width: 300px;
    height: 150px;
    padding-right: 4em;
}

/* media */

@media screen and (max-width: 991px) {
	.tm-img-container {
		max-width: 490px;
		width: 90%;
	}
	.tm-slider-img {
		padding-left: 5px;
		padding-right: 5px;
	}
    
      .surgelogo{
        width: 80%;
        height: 30%;
        top: -15% !important;
    }

	.navbar-collapse.collapse {
        margin-left: 0;
    }
    .aboutcontent{
        width: 100%;
        margin: 2em 0;
    }
     .locationleft{
        order: 2;
    }  
    .locationright{
        order: 1;
    }
    .foundercontainer{
        width: 100%;
    }
    .try{
        height: 80px;
    }
    .footercontent{
    padding: 3.125em 0em;
    }
    .email{
        text-align: center;
        padding-right: 0;
        font-size: .8em;
    }
    .one{
        text-align: center;
        padding: 0;    
    }
      .menucolumn{
        width: 100%;
    }
    .menucolumninner{
        width: 100%;
    }
    .center-content{
        width: 100%;
        padding: 0 1em;
        font-family: surgefontmedium;
    }
      .carouselparallax{
        min-height: 80vh;
    }
    .carousel2parallax{
        min-height: 80vh;
    }
    .carousel3parallax{
        min-height: 80vh;
    }
     .footericons1{
        display: inline-block;
    }
     .happyrow{
        padding: 1em;
    }
    .whycontent{
        width: 100%;
    }
     .presscontent{
        width: 100%;
    }
     .presscontent h4{
        margin: 0;
    }
    .aboutparallax{
        min-height: 80vh;
    }
    .hero{
    top: 50%;
    left: 50%;
    }
    .menuimages{
        display: none;
    }
    .menucolumninner  h1 {
        padding: 2em 0 0 6em;
    }
}

@media screen and (max-width: 767px) {

    .upprecontainer{
        display: block;
    }
    .leftsection{
        max-width: 100%;
    }
    .rightsection{
        max-width: 100%;
    }
    .columnfooter{
        width: 100%;
        align-items: center
    }
    .column1 {
        width: 100%;
    }
    .rowsections {
        width: 100%;
    }
    .bottomsection{
        width: 100%;
    }
    .navbar{
        background-color: black;
    }
     .surgelogo{
        width: 80%;
        height: 30%;
        top: -15% !important;
    }

    .carousel-inner img {
        width: 100%;
        height: 50%;
    }
    .menucolumn{
        width: 100%;
    }
    .menucolumninner{
        width: 100%;
    }
    .navbar-collapse.collapse {
    margin-left: 0;
    }
     .aboutcontent{
        width: 100%;
    }

    .historyleft > img{
    width: 95%;
    height: 95%;
    justify-content: center;
   }
    .locationleft{
        order: 2;
    }  
    .locationright{
        order: 1;
    }
    .parallaxcontent h1 {
        font-size: 1.5em;
    }
    
    .try{
        height: 80px;
    }
    .footercontent{
    padding: 3.125em 0em;
    }
    .email{
        text-align: center;
        padding-right: 0;
        font-size: .8em;
    }
    .one{
        text-align: center;
        padding: 0;
    }
    .center-content{
        width: 100%;
        padding: 0 1em;
    }
      .carouselparallax{
        min-height: 80vh;
    }
    .carousel2parallax{
        min-height: 80vh;
    }
    .carousel3parallax{
        min-height: 80vh;
    }
     .footericons1{
        display: inline-block;
    }
    .happyrow{
        padding: 1em;
    }
    .whycontent{
        width: 100%;
    }
   .presscontent{
        width: 100%;
    }
   .presscontent h4{
        margin: 0;
    }
    .aboutparallax{
        min-height: 80vh;
    }
    .hero{
    top: 50%;
    left: 50%;
    }
    .menuimages{
        display: none;
    }
    .menucolumninner  h1 {
        padding: 2em 0 0 6em;
    }
}

@media screen and (max-width: 540px) {
	
    .lowercontainer{
        width: 100%;
    }
     .surgelogo{
        width: 80%;
        height: 30%;
        top: -15% !important;
    }

    .center-content{
        width: 100%;
        padding: 0 1em;
    }
    .carousel-inner img {
        width: 100%;
        height: 40%;
    }
    .navbar-collapse.collapse {
    margin-left: 0;
    }   
    .aboutcontent{
        width: 100%;
        margin: 2em 0;
    }
    
   .historyleft img{
    width: 95%;
    height: 95%;
    justify-content: center;
    margin-top: 1em;
    
   }
    .hero h1{
    font-size: 3em;
   }

    .hero h4{
        font-size: 1em;    
    }  
    .historyleft{
        order: 2;
    }  
    .historyright{
        order: 1;
    }

    .parallaxcontent h1 {
        font-size: 2em;
    }
    
    .foundercontainer{
        width: 70%;
    }

    .try{
        height: 80px;
    }
    .footercontent{
    padding: 3.125em 0em;
    }
    .email{
        text-align: center;
        padding-right: 0;
        font-size: .8em;
    }
    .one{
        text-align: center;
        padding: 0;
    }
     .menucolumn{
        width: 100%;
    }
    .menucolumninner{
        width: 100%;
    }
    .carouselparallax{
        min-height: 80vh;
    }
    .carousel2parallax{
        min-height: 80vh;
    }
    .carousel3parallax{
        min-height: 80vh;
    }
    .footericons1{
        display: inline-block;
    }
     .happyrow{
        padding: 1em;
    }
    .whycontent{
        width: 100%;
    }
    .presscontent{
        width: 100%;
    }
    .presscontent h4{
        margin: 0;
    }
    .aboutparallax{
        min-height: 80vh;
    }
    .hero{
    top: 50%;
    left: 50%;
    }
    .menuimages{
        display: none;
    }
    .menucolumninner  h1 {
        padding: 2em 0 0 6em;
    }
}


