/*Template 2096 Individualhttp://www.tooplate.com/view/2096-individual*/

@font-face {
    font-family: surgefont;
    src: url(../font-awesome-4.5.0/fonts/TTF/ATCArquette-Bold.ttf) format('truetype');
}

@font-face {
    font-family: surgefontlighter;
    src: url(../font-awesome-4.5.0/fonts/TTF/ATCArquette-Light.ttf) format('truetype');
}

@font-face {
    font-family: surgefontmedium;
    src: url(../font-awesome-4.5.0/fonts/TTF/ATCArquette-Medium.ttf) format('truetype');
}

@font-face {
    font-family: surgefontregular;
    src: url(../font-awesome-4.5.0/fonts/TTF/ATCArquette-Regular.ttf) format('truetype');
}

html {
    width: 100%;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div,
img {
    margin: 0;
    padding: 0;
}

body {
    font-family: surgefont, surgefontlighter, surgefontmedium;
    font-size: 19px;
    font-weight: 300;
    overflow-x: hidden !important;
    height: 100%;
    width: 100%;
}

.carouselparallax {
    background: url('../img/BLB17857-min.jpg') no-repeat center center fixed;
    min-height: 100vh;
    /* Create the parallax scrolling effect */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel2parallax {
    background: url('../img/BLB17805-min.jpg') no-repeat center center fixed;
    min-height: 100vh;
    /* Create the parallax scrolling effect */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel3parallax {
    background: url('../img/IMG_3089_Edited-min.jpg') no-repeat center center fixed;
    min-height: 100vh;
    /* Create the parallax scrolling effect */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel4parallax {
    background: url('../img/IMG_2986-min.JPG') no-repeat center center fixed;
    min-height: 100vh;
    /* Create the parallax scrolling effect */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.parallax1 {
    background: url('../img/4321.jpg') no-repeat center center fixed;
    min-height: 10vh;
    /* Create the parallax scrolling effect */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

a,
button {
    transition: all 0.3s ease;
    color: rgba(255, 255, 255, 0.8);
}

a:hover {
    color: #FFFF00;
    text-decoration: none;
}

a:focus {
    text-decoration: none;
    outline: none;
}

.parallax-window {
    min-height: 100vh;
    width: 100%;
    background: transparent;
}

.parallax-window2 {
    min-height: 100vh;
    background: transparent;
    display: flex;
    align-items: center;
}

.parallax-window3 {
    min-height: 40vh;
    background: transparent;
}

.tm-text-white {
    color: #fff;
}

.mainpageicons {
    position: absolute;
    top: 90%;
    left: 5%;
    color: rgba(255, 255, 255, 0.9);
    font-size: 50px;
}

.address {
    position: absolute;
    top: 90%;
    left: 65%;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
}

.number {
    left: 70%;
}

.mainpageicons > a:hover {
    color: #fad21e;
}

.fa-instagram {
    margin-left: 25px;
}

.tm-page-2 {
    max-width: 800px;
}

.tm-page-4-content {
    padding-top: 1vh;
}

.tm-page-5-content {
    padding-top: 1vh;
}

.tm-bg-white {
    padding: 20px;
    background-color: white;
    opacity: 0.8;
    width: 100%;
}

.tm-bg-white2 {
    padding: 20px;
    background-color: white;
    opacity: 0.8;
    width: 100%;
    margin: 0px;
}

h1 {
    font-size: 4rem;
    padding-bottom: 20px;
}

h2 {
    padding-bottom: 20px;
    font-weight: bold;
}

h3 {
    color: green;
    padding-bottom: 10px;
}

h5 {
    padding-left: 20px;
    font-size: 2rem;
    font-weight: bold;
}

.tm-bg-white-transparent {
    margin: 5px;
    padding: 40px;
    background-color: #ffffc4;
    max-width: 340px;
    width: 100%;
    margin: 20px;
}

.tm-bg-white-transparent-page3 {
    margin-left: 100px;
}

.tm-page-5-content {
    float: right;
}

.tm-btn-block {
    display: block;
}

.tm-btn-right {
    float: right;
}

.tm-address-box {
    color: white;
    padding-left: 40px;
}

.tm-bg-white-transparent-left {
    float: right;
    background-color: white;
    opacity: 0.8;
}

.tm-bg-white-transparent-center {
    display: inline-block;
    background-color: white;
    opacity: 0.8;
}

.tm-bg-white-transparent-right {
    float: left;
    background-color: white;
    opacity: 0.8;
}

.tm-img-container {
    width: 96%;
    max-width: 1020px;
}

.tm-slider-img {
    padding-left: 10px;
    padding-right: 10px;
}

.slick-dots li button:before {
    font-size: 20px;
    color: white;
    opacity: 1;
}

.slick-dots {
    position: absolute;
    bottom: -50px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: deepskyblue;
}

.tm-btn-submit {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 10px 60px;
    border-radius: 9px;
    float: right;
}

.form-control {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1;
    color: #495057;
    opacity: 0.75;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.tm-position-relative {
    position: relative;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}


/* navigations */

.navbar-brand.mr-0 {
    color: white;
    font-size: 40px;
}

.navbar-toggler.ml-1 {
    display: block;
    border: 2px solid white;
    position: absolute;
    right: .5em;
    top: 1.2em;
    cursor: pointer;
    padding: .6em;
}

.navbar-toggler.ml-1 .icon-bar {
  display: block;
  margin-bottom: 4px;
  width: 25px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}
        .navbar-toggler.ml-1 .icon-bar:nth-of-type(2) {
	  top: 1px;
}

.navbar-toggler.ml-1 .icon-bar:nth-of-type(3) {
  	top: 3px;
}

.navbar-toggler.ml-1 .icon-bar {
	  position: relative;
	  transition: all 500ms ease-in-out;
}

.navbar-toggler.ml-1.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(50deg);
}

.navbar-toggler.ml-1.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}

.navbar-toggler.ml-1.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-50deg);
}

.toggleicon {
    font-size: 25px;
    margin-top: 4px;
    color: white;
}

.activenavigation {
    border-bottom: 4px solid #fad21e;
    padding-bottom: 2px;
}

.nav-item > .nav-link {
    color: white;
}

.nav-item > .nav-link:hover {
    color: #fad21e;
}

.nav-item {
    padding: 0 .5em;
}

.navbar.navbar-transparent.navbar-expand-md {
    position: fixed;
}

.navbar {
    width: 100%;
    font-family: surgefontmedium;
    font-size: 1.2em;
    z-index: 5;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.try {
    width: 100%;
    background-color: #0b1926;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#brand:hover {
    text-decoration: none;
    background-color: transparent;
}

.surgelogo {
    position: absolute;
    max-width: 70%;
    max-height: 70%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.carousel-inner {
    background-color: black;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.carousel-inner > .carousel-item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -moz-transition: -moz-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active {
    -webkit-transform: none !important;
    transform: none !important;
}

.carousel-control-prev {
    z-index: 2;
}

.carousel-control-next {
    z-index: 2;
}


/* about, play, leagues and party */

.aboutcontainer {
    font-family: surgefont;
    letter-spacing: 3px;
}

.lowercontainer {
    height: 25em;
    width: auto;
}

.rowsections {
    float: left;
    width: 50%;
    height: 30em;
    justify-content: center;
    text-align: center;
}

.about {
    background-image: url("../img/aboutus-min.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.party {
    background-image: url("../img/poolrates-min.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.menu {
    background-image: url("../img/dailyspecials-min.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.leagues {
    background-image: url("../img/moreinfo-min.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bottomsection {
    float: left;
    width: 100%;
    height: 15em;
    justify-content: center;
    text-align: center;
}

.center-content {
    font-family: surgefont;
    padding-top: 2em;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: white;
    line-height: 1;
    font-size: 1.5em;
    /* text-shadow: 2px 1px #000000;*/
    font-weight: normal;
    opacity: 0;
}

.center-content > h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2em;
    margin-bottom: 0;
    text-align: center;
}

.content-top {
    margin-top: 1.5em;
}

.content-bottom {
    margin-top: -.5em !important;
}

.content-top-trbox {
    margin-top: 1.5em;
    padding-bottom: 2em;
}

.button {
    text-transform: uppercase;
    font-size: .7em;
    font-weight: bolder;
    width: 250px;
    color: white;
    padding: 15px;
    border: 5px solid rgb(250, 210, 30);
    text-decoration: none;
    position: absolute;
    margin-top: 19em;
}

.hpbutton {
    margin-top: 4.62em !important;
}

.button:hover {
    background-color: rgba(250, 210, 30, .9);
    border-color: rgb(250, 210, 30);
    color: white;
    text-decoration: none;
    text-decoration: none;
}

.for-instagram-parallax {
    padding-top: 5em;
    margin-top: -1em;
}


/* About Page */

.aboutparallax {
    background: url('../img/IMG_3000-min.JPG') no-repeat bottom fixed;
    min-height: 60vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: -.5em;
}

.whypressparallax {
    background: url('../img/IMG_3000-min.JPG') no-repeat center center fixed;
    min-height: 20vh;
    /* Create the parallax scrolling effect */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: -.5em;
}

.whypressparallax h1 {
    font-family: surgefont;
    color: white;
    text-align: center;
    padding-top: 1.4em;
    /* text-shadow: -.030em .030em #1F1E23, -.08em .08em #1F1E23;*/
}

.aboutcontent {
    float: left;
    width: 50%;
    height: auto;
    text-align: center;
    margin: 3em 0;
    justify-content: center;
}

.aboutcontent h1 {
    font-family: surgefont;
    color: #fad21e;
    font-weight: bold;
}

.aboutcontent p {
    font-family: surgefontlighter;
    margin: 0 3em;
    line-height: 2;
    font-weight: lighter;
    letter-spacing: 2px;
    text-align: justify;
    color: #0e1111;
    padding-top: 1em;
    font-size: .9em;
}

.historyleft img {
    margin-top: 4em;
    justify-content: left;
    width: 80%;
    height: 80%;
    border: 1px dashed #fad21e;
    padding: 1em;
}

.parallaxcontent {
    opacity: 0;
}

.parallaxcontent h1 {
    text-align: center;
    color: white;
    padding-top: 1.2em;
    font-weight: bolder;
    letter-spacing: 5px;
    text-shadow: 2px 1px #000;
    font-size: 2.5em;
}

.parallaxcontent p {
    text-align: center;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0 5em;
    text-shadow: 2px 1px #000;
    font-size: 1.4em;
}

.whycontent {
    float: left;
    width: 30.8%;
    height: auto;
    text-align: center;
    margin: 2em .5em;
    padding: 2em 0;
}

.whycontentbox {
    border: 2px dotted #fad21e;
    min-height: 55vh;
}

.whycontentleft {
    margin-left: 2em;
}

.whycontent h1 {
    font-family: surgefontmedium;
    color: #fad21e;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 2em;
    padding-top: 1em;
}

.whycontent p {
    font-family: surgefontlighter;
    margin: 0 3em;
    line-height: 2;
    font-weight: lighter;
    letter-spacing: 2px;
    text-align: justify;
    color: #0e1111;
    padding: 1em;
    font-size: .8em;
}

.whylink{
    color: #0e1111;
    text-decoration: underline;
}

.whylink:hover{
    color: #fad21e;
}
.press {
    background-image: url("../img/4321.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.presscarousel {
    max-width: 80%;
    padding: 1em 0;
    margin: auto;
    top: 25%;
}

.press-inner {
    background-color: #132e47;
}

.presscontent {
    float: left;
    width: 33.33%;
    height: auto;
    text-align: center;
    justify-content: center;
    padding: 1em 0;
}

.carouselinnerpress {
    height: auto;
}

.pressarticle h2 {
    font-family: surgefontmedium;
    color: white;
    font-weight: bold;
    text-align: center;
    letter-spacing: 4px;
    font-size: 1.6em;
}

.pressarticle h4 {
    font-family: surgefontmedium;
    font-weight: lighter;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    padding-bottom: .2em;
    font-size: 1em;
}

.pressicons {
    font-size: 48px;
    color: white;
}

.pressarticle {
    min-height: 22vh;
}

.pressbutton {
    font-family: surgefontmedium;
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: 2px;
    font-weight: bolder;
    width: 250px;
    color: white;
    padding: 15px;
    border: 2.5px solid rgb(250, 210, 30);
    text-decoration: none;
    position: relative;
   
}

.pressbutton:hover {
    background-color: rgba(250, 210, 30, .9);
    border-color: rgb(250, 210, 30);
    color: white;
    text-decoration: none;
}

.presscolorone {
    border-right: 1px solid white;
}

.presscolortwo {
    border-right: 1px solid white;
}

.presscolorthree {}

.pressprev {
    margin-left: -4em;
}

.pressnext {
    margin-right: -4em;
}


/* Instagram */

.lightwidget-widget {
    margin-top: 5em;
    margin-bottom: -.5em;
}


/* Menu Page */

.menuparallax {
    background: url('../img/DSC09781_Edited-min.jpg') no-repeat bottom fixed;
    min-height: 60vh;
    /* Create the parallax scrolling effect */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img_container {
    width: 100%;
    padding-top: 4em;
}

.container {
    flex: 0 1 25%;
    overflow: auto;
}

.container >img {
    display: inline-block;
    width: calc(100% - 10px);
    margin: 5px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 65%;
    margin: auto;
}

.container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 4em;
}

.container > .container__items {
    max-width: 100%;
    height: 200px;
    flex-basis: 200px;
    margin: .5em .7em;
    ;
    overflow: hidden;
}

.container > .container__items > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.menulist-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.menulist-container > .menu__items {
    margin: .2em;
    overflow: hidden;
    display: flex;
    padding: .5em;
    flex-direction: column;
    width: 30%;
}

.menulist-container > .menu__items > .items {
    margin: .2em;
    overflow: hidden;
    display: flex;
    padding: .5em;
    font-size: .9em;
    letter-spacing: 2px;
    color: #0e1111;
}

.menulist-container > .menu__items > .items > .title {
    flex: 3;
}

.menulist-container > .menu__items > .items > .title > span {
    display: block;
}

.menu > .menu__items > .items > .price {
    flex: 1;
    border: 1px #ccc solid;
    display: flex;
    justify-content: flex-end;
    font-size: .9em;
    color: black;
}

.beer-row:after {
    content: "";
    display: table;
    clear: both;
}

.beer-columns {
    float: left;
    width: 50%;
}

.beer-columns ul {
    list-style: circle !important;
}

hr {
    width: 25%;
    background-color: #fad21e;
    padding: .1em;
}

.menulist {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.menubutton {
    font-family: surgefont;
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 5px;
    color: #0e1111;
    text-decoration: none;
    border-bottom: none;
}

.menubutton:hover {
    color: #fad21e;
    text-decoration: none;
    border-bottom: 2px solid #fad21e;
    padding-bottom: .5em;
}

.activebuttons {
    color: #fad21e !important;
    border-bottom: 2px solid #fad21e;
    padding-bottom: .5em;
}

.menulist {
    padding: 2em 0 1em 0;
    text-decoration: none;
    text-align: center;
}

.menulist > li {
    text-decoration: none;
    display: inline;
    margin-right: 20px;
    justify-content: center;
}

.menu-content {
    margin-bottom: 2em;
    font-family: surgefontlighter;
    letter-spacing: 1px;
}

.menu-content > h5 {
    text-align: center;
    color: black;
    padding-top: 1em;
}

.menu-content > h6 {
    text-align: center;
    color: black;
}

.daily-content {
    text-align: center;
    color: #0e1111;
    padding-top: 1.1em;
}

.daily-day {
    font-size: 1.2em;
}

.daily{
    font-size: .9em;
}
.promo {
    padding-bottom: 1em;
}

.daily-desc {
    margin-top: -1em;
}

.other-desc {
    font-size: .9em !important;
    margin-top: 2.5em !important;
}

.menu_drinks {
    padding-top: 2.5em !important;
    font-size: 1em !important;
}

.upper_drinks {
    font-size: 1em !important;
}

#drinks {
    display: none;
}

#coffee {
    display: none;
}

#food {
    display: none;
}


/* contact */

#contact {
    color: white;
}

.contactbtn {
    text-transform: uppercase;
    float: right;
    font-size: .7em;
    font-weight: bold;
    cursor: pointer;
    color: white;
    padding: 20px;
    border: 4px solid rgba(184, 134, 11, .5);
    background-color: rgba(184, 134, 11, .6);
    text-decoration: none;
}

.contactbtn:hover {
    background-color: rgba(184, 134, 11, .9);
    border-color: rgba(184, 134, 11, .9);
    color: white;
    text-decoration: none;
}


/* Play */

.playparallax {
    background: url("../img/play.jpg") no-repeat bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 60vh;
}

.pool-specials {
    background: url("../img/happyhouroffical-min.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 40vh;
    margin-bottom: -1em;
}

.playcontainer {
    min-height: 75vh;
}

.playcolumn {
    margin-top: 8em;
    float: left;
    width: 50%;
    text-align: center;
}

.playinnercolumn {
    float: left;
    width: 25%;
    text-align: center;
}

.play-left h1 {
    font-family: surgefontmedium;
    font-size: 2em;
    padding-bottom: 2.37em;
}

.play-right {
    border-left: 2px solid #0e1111;
}

.play-right h1 {
    font-family: surgefontmedium;
    font-size: 2em;
}

.play-right h1:nth-child(2) {
    margin: -.7em 0 .7em 0 !important;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    position: relative;
    left: 15%;
}

.flex-content {
    font-family: surgefontlighter;
    font-size: 1.2em;
    padding: .5em 1em;
}

.move-left {
    margin-right: .4em;
}

.move-right {
    margin-left: 1.2em;
}

.move-left-addl {
    margin-right: 1.8em;
}

.move-right-fourplus {
    margin-left: .2em;
}

.play-sub-description {
    font-family: surgefontlighter;
    text-align: center;
    padding-top: 3em;
    font-size: 1.2em;
}

.pool-content {
    text-align: center;
}

.pool-content h2 {
    font-family: surgefont;
    color: #fad21e;
    letter-spacing: 3px;
    font-size: 2em;
    padding-top: 2.1em;
}

.pool-content p {
    color: white;
    font-family: surgefontmedium;
    font-size: 1.5em;
}

.pool-margin-top {
    margin-top: -.5em;
}


/* Parties */

.partyparallax {
    background: url("../img/surge1-min.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 60vh;
}

.hero {
    position: absolute;
    text-align: center;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero h1 {
    font-family: surgefontmedium;
    font-size: 5.3em;
    font-weight: bold;
    color: white;
    letter-spacing: 5px;
}

.party-box {
    float: left;
    margin-top: 4em !important;
}

.events {
    width: 40%;
    margin: 0 auto;
}

.venue {
    width: 40%;
    margin: 0 auto;
}

.party-details {
    border: 2px dotted #fad21e;
    width: 90%;
    margin: 0 auto;
    min-height: 40vh;
}

.party-details h1 {
    font-family: surgefontmedium;
    color: #fad21e;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 2em;
    padding-top: 1em;
    text-align: center;
}

.inquire-below {
    margin-top: 2.5em;
    font-family: surgefontregular;
    text-align: center;
    font-size: 1.1em;
    margin-bottom: -.4em;
}

.party-ul {
    list-style: none;
    padding-bottom: 1em;
}

.party-ul li {
    font-family: surgefontmedium;
    font-size: 1.2em;
    line-height: 2em;
    text-align: center;
}

.partydesc {
    margin: .2em 0 3em 0;
    font-family: surgefontmedium;
    font-size: 1em;
    text-align: center;
}

.partydesc a {
    color: #0f1111;
}

.partydesc a:hover {
    color: #0f1111;
}

.partydesc a:active {
    color: #fad21e;
}

.eapps-form-actions-button {
    position: absolute !important;
    right: 0 !important;
    margin-top: -1em;
}

.eapps-form-floating-button {
    display: none !important;
}


/* Gallery */

.galleryparallax {
    background: url("../img/BLB17847_Edited-min.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 60vh;
}

.gallerycontainer {
    min-height: 60vh;
}

.galleryheader {
    font-family: surgefont;
    text-align: center;
    color: #fad21e;
    margin-top: 2em;
}

.gallerydesc {
    font-family: surgefontmedium;
    font-size: 1.2em;
    text-align: center;
    color: #0f1111;
    margin: 2em 0 5em 0;
}

.gallerydesc a {
    font-family: surgefontmedium;
    color: #fad21e;
    text-decoration: none;
}

.gallerydesc a:hover {
    color: #0f1111;
    text-decoration: none;
}

.gallery {
    margin-top: -4em !important;
    padding-top: -4em !important;
}

.eapps-instagram-feed-posts-grid-load-more {
    color: black !important;
}

.eapps-form-actions {
    position: relative !important;
}

.eapps-form-element-text {
    margin-top: -1em !important;
}

.eapps-form-element-email {
    margin-top: -1em !important;
}

.eapps-form-element-phone {
    margin-top: -1em !important;
}

.eapps-form-element-dropdown {
    margin-top: -1em !important;
}

.eapps-form-element-datepicker {
    margin-top: -1em !important;
}


/* footer */

.footer1 {
    font-family: surgefontlighter;
    background-color: #0b1926;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.footer {
    background-color: #0b1926;
    left: 0;
    bottom: 0;
    min-height: 35vh;
    width: 100%;
    overflow: hidden;
}

.footercontent {
    padding: .5em 0;
}

.columnfooter {
    float: left;
    width: 20%;
    text-align: left;
    padding: 0;
}


/*.columnfootermap{float: left; width: 20%; text-align: left; padding: 0;}*/

.column1 {
    float: left;
    width: 50%;
    margin-top: .5em;
}

.ficons {
    padding-left: 5em;
}

.one {
    padding-left: 3.8em;
}

.footericons {
    font-size: 22.5px;
    display: inline-block;
    color: white;
    padding-bottom: .2em;
}

.footericons1 {
    margin-top: .1em;
    font-size: 28px;
    display: inline-block;
    color: gray;
}

.ig {
    margin-right: 25px;
}

.yelp {
    margin-right: 25px;
}

.footericons:hover {
    color: #fad21e;
    text-decoration: none;
}

.footericons1:hover {
    color: #fad21e;
    text-decoration: none;
}

.footertitle {
    font-family: surgefontmedium;
    font-size: 1.2em;
    color: white;
    margin-left: -1em;
    padding-top: .5em;
}

.email {
    text-align: right;
    padding-right: 2em;
    padding-top: .2em;
}

.email > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
}

.email > a:hover {
    text-decoration: none;
    color: #fad21e;
}

.storehours > h6 {
    color: rgba(255, 255, 255, 0.8);
    font-size: .9em;
}

.contact > h6 {
    color: rgba(255, 255, 255, 0.8);
    font-size: .9em;
}

.contact > h6 > a {
    color: rgba(255, 255, 255, 0.8);
}

.contact > h6 > a:hover{
    color: #fad21e;
}
.footeraddress > h6 > a:hover {
    text-decoration: none;
    color: #fad21e;
}

.footeraddress > h6 {
    color: rgba(255, 255, 255, 0.8);
    font-size: .9em;
}

.footeraddress > h6 > a {
    color: rgba(255, 255, 255, 0.8);
}

.footeraddress > h6 > a:hover {
    text-decoration: none;
    color: #fad21e;
}

.footeraddress {
    padding-right: 5em;
}

.credits {
    font-family: surgefontlighter;
    color: white;
    text-align: center;
    font-size: .7em;
    margin-top: 4em;
}


/*#map{width: 250px; height: 220px; margin: 1em 0 !important; border-style: none;}*/

.vertical-center {
    padding-top: 4em;
}


/* media */

@media screen and (max-width: 1250px) {
    /* .columnfootermap{width: 100%;}#map{display: block; margin: 4em auto 0 auto; width: 100%;}*/
    .ficons {
        text-align: center;
        padding-left: 0;
    }
    .footertitle {
        text-align: center;
    }
    .storehours {
        text-align: center;
        /* padding-left: 20em;*/
    }
    .contact {
        text-align: center;
        /* padding-left: 20em;*/
    }
    .footeraddress {
        text-align: center;
        padding-right: 0;
    }
    .vertical-center {
        padding-top: .5em;
    }
}

@media screen and (max-width: 991px) {
    .tm-img-container {
        max-width: 490px;
        width: 90%;
    }
    .tm-slider-img {
        padding-left: 5px;
        padding-right: 5px;
    }
    .surgelogo {
        /* width: 80%; height: 30%;*/
        top: -15% !important;
    }
    .navbar-collapse.collapse {
        margin-left: 0;
    }
    .aboutcontent {
        width: 100%;
        margin: 2em 0;
    }
    .locationleft {
        order: 2;
    }
    .locationright {
        order: 1;
    }
    .foundercontainer {
        width: 100%;
    }
    .try {
        height: 80px;
    }
    .footercontent {
        padding: 1em 0;
    }
    .email {
        text-align: center;
        padding-right: 0;
        font-size: .8em;
    }
    .one {
        text-align: center;
        padding: 0;
    }
    .center-content {
        width: 100%;
        padding: 0 1em;
        font-family: surgefontmedium;
    }
    .carouselparallax {
        min-height: 80vh;
        background-attachment: initial !important;
    }
    .carousel2parallax {
        min-height: 80vh;
        background-attachment: initial !important;
    }
    .carousel3parallax {
        min-height: 80vh;
        background-attachment: initial !important;
        background-position: right;
    }
    .carousel4parallax {
        min-height: 80vh;
        background-attachment: initial !important;
    }
    .whypressparallax{
        background-attachment: initial !important;
    }
    .menuparallax{
         background-attachment: initial !important;
    }
    .playparallax{
         background-attachment: initial !important;
    }
    .pool-specials{
         background-attachment: initial !important;
    }
    .partyparallax{
         background-attachment: initial !important;
    }
    .galleryparallax{
         background-attachment: initial !important;
    }
    .footericons1 {
        display: inline-block;
    }
    .whycontent {
        width: 100%;
    }
    .presscontent {
        width: 100%;
    }
    .presscontent h4 {
        margin: 0;
    }
    .aboutparallax {
        min-height: 80vh;
        background-attachment: initial !important;
    }
    .ficons {
        padding-left: 0;
    }
    .columnfooter {
        width: 100%;
        text-align: center;
    }
    /* .columnfootermap{width: 100%;}#map{display: block; margin: 4em auto 0 auto; width: 350px; width: 100%;}*/
    .footer {
        padding-left: 0 !important;
    }
    .vertical-center {
        padding-top: 1em !important;
    }
    .storehours {
        text-align: center;
        /* padding-left: 20em;*/
    }
    .contact {
        text-align: center;
        /* padding-left: 20em;*/
    }
    .footertitle {
        text-align: center;
    }
    .playcolumn {
        width: 100%;
    }
    .whycontentleft {
        margin-left: .5em;
    }
    .play-right {
        border: none;
    }
    .container > .container__items {
        height: 150px;
        flex-basis: 150px;
        margin: .2em;
        overflow: hidden;
    }
    .rowsections {
        width: 100%;
        overflow: hidden;
    }
    .beer-columns {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .upprecontainer {
        display: block;
    }
    .leftsection {
        max-width: 100%;
    }
    .rightsection {
        max-width: 100%;
    }
    .column1 {
        width: 100%;
    }
    .rowsections {
        width: 100%;
        overflow: hidden;
    }
    .bottomsection {
        width: 100%;
    }
    .navbar {
        background-color: #0b1926;
    }
    .surgelogo {
        /* width: 80%; height: 30%;*/
        top: -15% !important;
    }
    .carousel-inner img {
        width: 100%;
        height: 50%;
    }
    .navbar-collapse.collapse {
        margin-left: 0;
    }
    .aboutcontent {
        width: 100%;
    }
    .historyleft > img {
        width: 95%;
        height: 95%;
        justify-content: center;
    }
    .locationleft {
        order: 2;
    }
    .locationright {
        order: 1;
    }
    .parallaxcontent h1 {
        font-size: 1.5em;
    }
    .try {
        height: 80px;
    }
    .footercontent {
        padding: 1em 0;
    }
    .email {
        text-align: center;
        padding-right: 0;
        font-size: .8em;
    }
    .one {
        text-align: center;
        padding: 0;
    }
    .center-content {
        width: 100%;
        padding: 0 1em;
        opacity: 1;
    }
    .carouselparallax {
        min-height: 80vh;
        background-attachment: initial !important;
    }
    .carousel2parallax {
        min-height: 80vh;
        background-attachment: initial !important;
    }
    .carousel3parallax {
        min-height: 80vh;
        background-attachment: initial !important;
        background-position: right;
    }
    .carousel4parallax {
        min-height: 80vh;
        background-attachment: initial !important;
    }
    .footericons1 {
        display: inline-block;
    }
    .whycontent {
        width: 100%;
    }
    .presscontent {
        width: 100%;
    }
    .presscontent h4 {
        margin: 0;
    }
    .aboutparallax {
        min-height: 80vh;
        background-attachment: initial !important;
    }
    .ficons {
        padding-left: 0;
    }
    .columnfooter {
        width: 100%;
        text-align: center;
    }
    /* .columnfootermap{width: 100%;}*/
    /* #map{display: block; margin: 4em auto 0 auto; width: 430px; width: 100%;}*/
    .storehours {
        text-align: center;
        /* padding-left: 2.5em;*/
    }
    .contact {
        text-align: center;
        /* padding-left: 2.5em;*/
    }
    .footeraddress {
        text-align: center;
        padding-right: 0;
    }
    .vertical-center {
        padding-top: 1em !important;
    }
    .whypressparallax{
        background-attachment: initial !important;
    }
    .pressarticle h4 {
        text-align: center;
    }
    .playcolumn {
        width: 100%;
    }
    .whycontentleft {
        margin-left: .5em;
    }
    .play-right {
        border: none;
    }
    .image-box {
        height: 150px;
        flex-basis: 150px;
        margin: .2em;
        overflow: hidden;
    }
    /* .container{flex: 0 1 50%;}*/
    .container > .container__items {
        height: 150px;
        flex-basis: 150px;
        margin: .2em;
        overflow: hidden;
    }
    .menulist-container > .menu__items {
        margin: .2em;
        overflow: hidden;
        width: 100%;
    }
    .beer-columns {
        width: 100%;
    }
    .events {
        width: 100%;
        margin-left: 0;
    }
    .venue {
        width: 100%;
        margin-right: 0;
    }
    .pool-mobile-bottom {
        padding-bottom: 1.5em;
    }
    .menuparallax{
         background-attachment: initial !important;
    }
    .playparallax{
         background-attachment: initial !important;
    }
    .pool-specials{
         background-attachment: initial !important;
    }
    .partyparallax{
         background-attachment: initial !important;
    }
    .galleryparallax{
         background-attachment: initial !important;
    }
}

@media screen and (max-width: 540px) {
    .lowercontainer {
        width: 100%;
    }
    .surgelogo {
        /* width: 80%; height: 30%;*/
        top: -15% !important;
    }
    .center-content {
        width: 100%;
        padding: 0 1em;
        opacity: 1;
    }
    .carousel-inner img {
        width: 100%;
        height: 40%;
    }
    .navbar-collapse.collapse {
        margin-left: 0;
    }
    .aboutcontent {
        width: 100%;
        width: 100%;
        margin: 2em 0;
    }
    .historyleft img {
        width: 95%;
        height: 95%;
        justify-content: center;
        margin-top: 1em;
    }
    .historyleft {
        order: 2;
    }
    .historyright {
        order: 1;
    }
    .parallaxcontent h1 {
        font-size: 2em;
    }
    .foundercontainer {
        width: 70%;
    }
    .try {
        height: 80px;
    }
    .footercontent {
        padding: 1em 0;
    }
    .vertical-center {
        padding-top: 1em !important;
    }
    .email {
        text-align: center;
        padding-right: 0;
        font-size: .8em;
    }
    .one {
        text-align: center;
        padding: 0;
    }
    .carouselparallax {
        min-height: 80vh;
        background-attachment: initial !important;
    }
    .carousel2parallax {
        min-height: 80vh;
        background-attachment: initial !important;
    }
    .carousel3parallax {
        min-height: 80vh;
        background-attachment: initial !important;
        background-position: right;
    }
    .carousel4parallax {
        min-height: 80vh;
        background-attachment: initial !important;
    }
    .footericons1 {
        display: inline-block;
    }
    .whycontent {
        width: 100%;
    }
    .presscontent {
        width: 100%;
    }
    .presscontent h4 {
        margin: 0;
    }
    .aboutparallax {
        min-height: 80vh;
        background-attachment: initial !important;
    }
    .ficons {
        padding-left: 0;
    }
    .columnfooter {
        width: 100%;
        text-align: center;
    }
    /* .columnfootermap{width: 100%;}#map{display: block; margin: 4em auto 0 auto; width: 430px; width: 100%;}*/
    .vertical-center {
        padding-top: 1em !important;
    }
    .storehours {
        text-align: center;
        /* padding-left: 3em;*/
    }
    .contact {
        text-align: center;
        /* padding-left: 3em;*/
    }
    .footeraddress {
        text-align: center;
        padding-right: 0;
    }
    .pressarticle h4 {
        text-align: center;
    }
    .playcolumn {
        width: 100%;
    }
    .whypressparallax{
        background-attachment: initial !important;
    }
    .whycontentleft {
        margin-left: .5em;
    }
    .move-right {
        margin-left: 0 !important;
    }
    .move-left-addl {
        margin-right: 0 !important;
    }
    .play-right {
        border: none;
    }
    /* .container{flex: 4 0 50%;}*/
    .container > .container__items {
        height: 150px;
        flex-basis: 150px;
        margin: .2em;
        overflow: hidden;
    }
    .beer-columns {
        width: 100%;
    }
    .rowsections {
        width: 100%;
        overflow: hidden;
    }
    .events {
        width: 100%;
        margin-left: 0;
    }
    .venue {
        width: 100%;
        margin-right: 0;
    }
    .hero {
        left: 55%;
    }
    .hero h1 {
        font-size: 3em;
        margin-top: 1em;
    }
    .pool-mobile-bottom {
        padding-bottom: 1.5em;
    }
    .menuparallax{
         background-attachment: initial !important;
    }
    .playparallax{
         background-attachment: initial !important;
    }
    .pool-specials{
         background-attachment: initial !important;
    }
    .partyparallax{
         background-attachment: initial !important;
    }
    .galleryparallax{
         background-attachment: initial !important;
    }
}

@media screen and (max-width: 384px) {
    .ficons {
        padding-left: 0;
    }
    .columnfooter {
        width: 100%;
        text-align: center;
    }
    /* .columnfootermap{width: 100%;}#map{display: block; margin: 2em auto 0 auto; width: 380px; width: 100%;}*/
    .vertical-center {
        padding-top: 1em !important;
    }
    .storehours {
        text-align: center;
        /* padding-left: 1.8em;*/
    }
    .contact {
        text-align: center;
        /* padding-left: 1.5em;*/
    }
    .footeraddress {
        text-align: center;
        padding-right: 0;
    }
    .pressarticle h4 {   
        text-align: center;
        padding-bottom: 1.2em;
    }
    .playcolumn {
        width: 100%;
    }
    .whypressparallax{
       background-attachment: initial !important;
    }
    .whycontentleft {
        margin-left: .5em;
    }
    .move-right {
        margin-left: 0 !important;
    }
    .move-left-addl {
        margin-right: 0 !important;
    }
    .play-right {
        border: none;
    }
    .center-content {
        opacity: 1;
    }
    .flex-container {
        width: 100%;
        left: 0;
    }
    .container > .container__items {
        height: 150px;
        flex-basis: 150px;
        margin: .2em;
        overflow: hidden;
    }
    .beer-columns {
        width: 100%;
    }
    .events {
        width: 100%;
        margin-left: 0;
    }
    .venue {
        width: 100%;
        margin-right: 0;
    }
    .hero {
        left: 53%;
    }
    .hero h1 {
        font-size: 3.5em;
        margin-top: 1em;
    }
    .pool-mobile-bottom {
        padding-bottom: 1.5em;
    }
    .aboutparallax {
        min-height: 80vh;
        background-attachment: initial !important;
    }
    .menuparallax{
         background-attachment: initial !important;
    }
    .playparallax{
         background-attachment: initial !important;
    }
    .pool-specials{
         background-attachment: initial !important;
    }
    .partyparallax{
         background-attachment: initial !important;
    }
    .galleryparallax{
         background-attachment: initial !important;
    }
    .rowsections {
        width: 100%;
        overflow: hidden;
    }
}

@media screen and (max-width: 340px) {
    .ficons {
        padding-left: 0;
    }
    .columnfooter {
        width: 100%;
        text-align: center;
    }
    /* .columnfootermap{width: 100%;}#map{display: block; margin: 2em auto 0 auto; width: 335px; width: 100%;}*/
    .storehours {
        text-align: center;
        /* padding-left: 1.5em;*/
    }
    .vertical-center {
        padding-top: 1em !important;
    }
    .contact {
        text-align: center;
        /* padding-left: 1.2em;*/
    }
    .footeraddress {
        text-align: center;
        padding-right: 0;
    }
    .pressarticle h4 {   
        text-align: center;
        padding-bottom: 1.2em;
    }
    .playcolumn {
        width: 100%;
    }
    .whypressparallax{
        background-attachment: initial !important;
    }
    .whycontentleft {
        margin-left: .5em;
    }
    .pressarticle {
        min-height: 35vh;
    }
    .play-right {
        border: none;
    }
    .center-content {
        opacity: 1;
    }
    .flex-container {
        width: 100%;
        left: 0;
    }
    /* .container{flex:0 1 50%;overflow: auto;}*/
    .container > .container__items {
        height: 100px;
        flex-basis: 100px;
        margin: .2em;
        overflow: hidden;
    }
    .beer-columns {
        width: 100%;
    }
    .rowsections {
        width: 100%;
        overflow: hidden;
    }
     .button{
        margin-top: 19em !important;
    }
    
    .events {
        width: 100%;
        margin-left: 0;
    }
    .venue {
        width: 100%;
        margin-right: 0;
    }
    .hero {
        left: 52%;
    }
    .hero h1 {
        font-size: 3.5em;
        margin-top: 1em;
    }
    .pool-mobile-bottom {
        padding-bottom: 1.5em;
    }
    .aboutparallax {
        min-height: 80vh;
        background-attachment: initial !important;
    }
    .menuparallax{
         background-attachment: initial !important;
    }
    .playparallax{
         background-attachment: initial !important;
    }
    .pool-specials{
         background-attachment: initial !important;
    }
    .partyparallax{
         background-attachment: initial !important;
    }
    .galleryparallax{
         background-attachment: initial !important;
    }
}

@media screen and (max-width: 240px){
      .rowsections {
        width: 100%;
        overflow: hidden;
    }
    .button{
       position: none !important;
       margin-top: 5em !important;
    }
}

/* Landscape */

@media screen and (min-width: 530px) and (max-width: 812px) {
    .surgelogo {
        top: 2% !important;
    }
    .pressarticle h4 {
        padding-bottom: 2em !important;
    }
    .center-content {
        opacity: 1;
    }
}

